PANEL_URL=http://51.75.55.16/ints/login
DASHBOARD_URL=http://51.75.55.16/ints/agent/SMSCDRReports
PANEL_USERNAME=Kkh8868himel
PANEL_PASSWORD=KkhHimel8080Target 
POLL_INTERVAL=5

# Telegram Alerts
TG_TOKEN=8999866920:AAEwsNbK1tmj2CQ9td5sN4fG7VhrXuqxj0Y
TG_CHAT=6798979733
